<h1>Contacts</h1>
<p>A simple app that lets the user login to Google via OAuth and display's contacts related to that account.</p>

<% if current_user %>

  <% @paginated_contacts.each do |contact| %>
    <div class="contact">
      <label>Name: <span><%= contact[:name] %></span></label>
      <label>Email: <span><%= contact[:email] %></span></label>
      <label>Phone: <span><%= contact[:phone] %></span></label>
    </div>
  <% end %>

  <%= will_paginate @paginated_contacts %>

<% end %>
